@import url('https://fonts.googleapis.com/css2?family=Georama:wght@200&display=swap');

.page{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 88.6vh;
    

}

* body{
    padding: 0;
    margin:0;
}

.container{
    background: linear-gradient(#e66465, #9198e5);
    height: 450px;
    width: 500px;
    overflow-y:scroll; ;
    border-radius: 10px;
}


.container::-webkit-scrollbar {
    width: 10px;
  }

.container::-webkit-scrollbar-thumb{
    border-radius: 7px;
}

.container p{
    color: #fffb06;
    font-family: 'Georama', sans-serif;
    font-size: 20px;
}