*{
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
}


body{
    width: 100vw;
    height: 100vh;
    background-color: aquamarine;
}

.memory-game{
    border: 2px solid black;
}

img{
    width: 100px;
}