.body{
    text-align:center;

    border: 1px solid balck;

}
table{
    display: flex;
    justify-content:center;
    text-align: center;

}
input{
    font-size: 28px;
    border: 2px solid black;
    border-radius: 15px;
    height: 180px;
    background: black;
    color: white;
}

button{
    border-radius: 28px;
    font-size: 31px;
    background:rgb(59, 57, 57);
    width: 74px;
    height: 77px;
    color: white;
}

.table{
    display: inline;
    background: chartreuse;
    
}

.Calculator{
    display: inline-block;
    border: 2px solid purple;
    background-color: rgb(0, 0, 0);
    border-radius: 22px;
    height: 650px;
}
.lastcolumn{
    background-color: orange;
}
.last-column{
    background-color: rgb(55, 182, 55);
}